*.pyc
gmon.out
*.o
a.out
*~
build
.kdev4
\#*
*.eps
*.jpg
*.out
/Java/nbproject/private/
*.class
*.tc*.orgi
*.orig
autom4te.cache
autom4te.cache/*
*.in
configure
aclocal.m4
extern
*.info
latex
html
*.d.kdev_include_paths
GPATH
GRTAGS
GSYMS
GTAGS
